
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


*, *::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}


@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to { opacity: 1 }
}

body {
    font-family: 'Montserrat';
    margin: 0;
    width: 100%;
    height: 100vh;
    font-size: 14px;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    color: #fff;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #9b9b9b;
    line-height: 3.8;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
}
footer h2{
    font-size: 2rem;
    text-transform: uppercase;
    transition: .2s ease-in-out ;
}
footer h2:hover,footer h2:focus{
    background: linear-gradient(to right, #f32170, rgba(125, 18, 255, 1));
    -webkit-text-fill-color: transparent;
    background-clip: text;
    letter-spacing: 8px;
}
footer {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    color: #fff;
    width: 100%;
}

.footer__c {
    margin: 1rem 0 0 0;
    text-align: center;
    /* border: 1px solid red; */
    width: 300px;
    height: 300px;
}

ul li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
    margin: 1rem 0;
    padding: .3em;
    text-transform: capitalize;
    font-size: 1rem;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    color: #858585;
}

ul li:nth-child(1){
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

ul li:nth-child(2){
    animation: fadeInAnimation ease 3.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

ul li:nth-child(3){
    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

ul li:nth-child(4){
    animation: fadeInAnimation ease 4.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

ul li:nth-child(5){
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

ul li:hover {
    color:rgba(125, 18, 255, 1);
}

.links{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    animation: fadeInBottom ease 1s;
    animation-fill-mode: both;
    transition: .4s ease-in-out ;
}

.space {
    color: #fff;
    margin: 0 .2em 0;
}

.links .s1:hover{
    background-color: blue;
    border-radius: 50%;
}

.links .s2:hover{
color: rgba(255, 32, 32, 0.836);
background-color: #fff;
border-radius: 50%;
}

.links .s4:hover{
    background-color: blue;
    border-radius: 50%;
}

.bottom {
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
    color: #fff;
    font-family: sans-serif;
    width: 60ch;
    margin-top: 1rem 0 2rem;
    /* border: 1px solid red; */
    animation: fadeInBottom ease 2s;
    animation-fill-mode: both;
}

.copyright{
    margin: 1rem;
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    opacity: 0.5;
}


@media (min-width: 475px) {
    main{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
    }
    footer h2{
        font-size: 2rem;
    }
    footer {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
    }
    
    .footer__c {
        margin: 1rem 0 0 0;
        text-align: center;
        width: 350px;
        height: 300px;
    }
    ul{
        margin-top: 1rem;;
    }
    
    ul li {
        list-style: none;
        margin: 0;
        padding: .3em;
        font-size: 1.3rem;
    }

    .links{
        margin-top: .4rem;
        margin-bottom: .4em;
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
    }
    
    .space {
        margin: 0 .2em 0;
    }
}

@media (min-width: 640px) {
    main{
        font-size: 40px;
    }
    footer h2{
        font-size: 2rem;
    }
    footer {
        display: flex;
        justify-content: space-evenly;
        flex-flow: row wrap;
    }
    
    .footer__c {
        margin: 1rem 0 0 0;
        text-align: center;
        width: 400px;
        height: 350px;
    }

    ul{
        margin-top: 1.5rem;;
    }
    
    ul li {
        list-style: none;
        margin: 0;
        padding: .3em;
        font-size: 1.3rem;
    }

    .links{
        margin: 1rem 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.4rem;
    }
    
    .space {
        margin: 0 .4em 0;
    }

    .bottom {
        display: flex;
        justify-content: center;
        align-self: center;
        text-align: center;
        color: #fff;
        font-family: sans-serif;
        width: 60ch;
        margin: 1rem 0 0;
        /* border: 1px solid red; */
        animation: fadeInBottom ease 2s;
        animation-fill-mode: both;
    }
    
    .copyright{
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 100;
        opacity: 0.5;
    }
}

@media (min-width: 780px) {
    main{
        font-size: 40px;
    }
    footer h2{
        font-size: 2rem;
    }
    footer {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    .footer__c {
        width: 400px;
        height: 350px;
    }
    
    ul li {
        margin: 0;
        padding: .3em;
        font-size: 1.3rem;
    }

    .links{
        margin: 0 2rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.6rem;
    }
    
    .space {
        margin: 0 .6em 0;
    }
    .bottom {
        display: flex;
        justify-content: center;
        align-self: center;
        text-align: center;
        color: #fff;
        font-family: sans-serif;
        width: 60ch;
        margin-top: 1rem;
        /* border: 1px solid red; */
        animation: fadeInBottom ease 2s;
        animation-fill-mode: both;
    }
    
    .copyright{
        margin: 1rem;
        display: flex;
        justify-content: center;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 100;
        opacity: 0.5;
        text-transform: uppercase;
    letter-spacing: .125em;
    }
}

@media (min-width: 1080px) {
    main{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
    }
    footer h2{
        font-size: 2rem;
    }
    footer {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: nowrap;
    }

    ul{
        margin-top: 1.5rem;;
    }
    
    .footer__c {
        margin: 1rem 0 0 0;
        width: 300px;
        height: 400px;
    }
    
    ul li {
        list-style: none;
        margin: 0;
        padding: .3em;
        font-size: 1.5rem;
    }
}
